@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.carousel-item img{
    filter: brightness(50%);

}

/* responsive style  */
@media screen and (max-width:767px) and (min-width:501px){
    .carousel-item .carousel-caption h1{
        font-size:1.3rem;   
    }
    .carousel-item .carousel-caption p{
        font-size:0.9rem;   
    }
    
}
@media screen and (max-width:500px){
    .carousel-item .carousel-caption h1{
        font-size:1.1rem;   
    }
    .carousel-item .carousel-caption p{
        font-size:0.7rem;   
    }
    

    
}
@media screen and (max-width:430px) {
    .carousel-item .carousel-caption {
        
        margin-top:-30px;
    }
    .carousel-item .carousel-caption .btn {
      font-size:0.7rem;
    }
    
    
    
    

    
}
